<div class= "card-container">
    <div class = 'card'>
        <div class = 'image-container'>
            <img src= "../../assets/imgs/dallas.jpg" alt="card image"/>
            <p>Dallas</p>
            <div class="card-rule">&nbsp;</div>

            <p>Become a software developer in this regal Texas metropolitan area.</p>
            <p style="color:'#83730B'">More info >></p>
        </div>
    </div>
    <div class = 'card'>
        <div class = 'image-container'>
            <img src= "../../assets/imgs/tampa.jpg" alt="card image"/>
            <p>Tampa</p>
            <div class="card-rule">&nbsp;</div>

            <p>Train on a technology stack alongside Florida's tropical beaches.</p>
            <p style="color:'#83730B'">More info >></p>
        </div>
    </div>
    <div class = 'card'>
        <div class = 'image-container'>
            <img src= "../../assets/imgs/dc.jpg" alt="card image"/>
            <p>Washington DC</p>
            <div class="card-rule">&nbsp;</div>

            <p>Learn to code in the nation's historic capitol.</p>
            <p style="color:'#83730B'">More info >></p>
        </div>
    </div>
    <div class = 'card'>
        <div class = 'image-container'>
            <img src= "../../assets/imgs/appalachia.jpg" alt="card image"/>
            <p>Morgantown</p>
            <div class="card-rule">&nbsp;</div>

            <p>Hone your technology skills in this storied West Virginia mountain range.</p>
            <p style="color:'#83730B'">More info >></p>
        </div>
    </div>
</div>